:root {
   --pink: #ed145b;
   --grey: #808080;
   --white: #ffffff;
   --black: #000000;
   --dark: #2a2a2a;
}


html {

   scroll-behavior: smooth;
}

body {
   font-family: Lato, Arial, sand-serif;
}

@media (min-width:768px) {
   body {
      font-size: 18px;
   }
}

.text-pink {
   color: var(--pink);
}

.bg-pink {
   background-color: var(--pink);
}

/* nav */
.navbar .navbar-toggler {
   border: none;
}

.navbar .navbar-brand {
   font-weight: 900;
}

.navbar .navbar-brand span {
   letter-spacing: 3px
}

.navbar .navbar-toggler-icon {
   background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='5' stroke-linecap='round' stroke-miterlimit='10' d='M4 5h22M4 15h22M4 25h22'/%3e%3c/svg%3e");
}

#navbarMain .nav-link {
   color: var(--white);
   /* padding: 10px 0 10px 0; */
}

#navbarMain .nav-link.active {
   color: var(--pink);
}

.navbar-nav {
   z-index: 10;

   background-color: var(--dark);
}

.navbar--top {
   background-color: var(--dark);
}

.mask {

   position: fixed;
   z-index: -1;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   opacity: 1;
   visibility: visible;
   background-color: rgba(42, 42, 42, 0.5);
   transition: opacity 0.4s;

}


.collapsed~.mask {
   opacity: 0;
   visibility: hidden;
}

@media (min-width: 768px) {
   .navbar-nav {
      background-color: transparent;
   }

   .mask {
      display: none;
   }

}

/* nav end */
/* header */
header.header {

   background: center/cover url(static/hederimg.jpg);
   position: relative;
   z-index: 1;
   min-height: 60vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.header h1 {
   max-width: 540px;
   margin: 0 auto;
   font-weight: 300;
   font-size: 2rem;
}

.header hr {
   display: inline-block;
   border-top: 1px solid var(--pink);
   width: 210px;
}

.show-more-btn {
   background-color: var(--pink);
   color: var(--white);
   border-radius: 50px;
   padding: 10px 30px;
   margin: 20px;
}

.show-more-btn:hover {
   width: 540px;
   align-self: center;
   background-color: var(--white);
   color: var(--pink);
}

.header-divider {
   position: absolute;
   width: 100%;
   overflow: hidden;
   height: 20px;
   background-image: url(static/headerSpacer.svg);
   background-size: 100% 100%;
}

@media (min-width:992px) {

   .header h1 {
      max-width: none;
   }

   .header-divider {
      height: 30px;
   }

}

@media (min-height:1200px) {
   header.header {

      min-height: 0;
      height: 60vh;
      max-height: 900px;
   }
}




/* header end */