body {
   background-color: #f5d9d5;
   font-family: "Nunito", sans-serif;
}

.navbar--main {
   background-color: rgba(0, 0, 0, 0.1);
}

.navbar--main {
   font-size: 1.5rem;
   font-weight: 100;
}

.navbar--main .navbar-brand,
.navbar--main .navbar-nav .nav-link:hover {
   color: #EA1C2C;


}

.navbar--main .navbar-nav .nav-link {
   color: white;
}

.navbar--main .nav-link {
   text-transform: uppercase;
}